<%
  breadcrumb_nav.add_item 'Team'
  breadcrumb_nav.add_item @team.name, team_path(@team)
  breadcrumb_nav.add_item 'Settings'
%>

<div class="row">
  <div class="col-lg-6">
    <%= render 'form' %>
  </div>

  <div class="col-lg-6">
    <%= render partial: "slack/panel", locals: { team: @team } %>
  </div>
</div>

<div class="row">
    <div class="col-xl-4">
      <%= render partial: "attendee_types/panel", locals: { team: @team } %>
    </div>

    <div class="col-xl-4">
      <%= render partial: "event_types/panel", locals: { team: @team } %>
    </div>

    <div class="col-xl-4">
      <%= render partial: "expense_types/panel", locals: { team: @team } %>
    </div>
</div>