<%
  breadcrumb_nav.add_item 'Team'
  breadcrumb_nav.add_item @team.name, team_path(@team)
%>

<div class="row">
  <div class="col-lg-6 col-xl-4">
    <%= render 'invitations' %>

    <div class="card">
      <div class="card-header">
        Download all team data
      </div>
      <div class="card-block">
        <%= link_to dump_team_path(@team),  class: 'btn btn-success', target: :blank do %>
          <%= icon(:download, :fa) %>
          Download
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-block bg-light">
        <%= paginate @members, class: 'no-margin', window: 1 %>
        <%= page_entries_info @members, entry_name: 'member' %>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-8">
    <%= form_tag team_path(current_team), method: :get do %>
      <%= render @filterer %>
    <% end %>

    <% @members.each do |user| %>
      <div class="card">
        <div class="card-block">
          <div class="col-lg-10">
            <h4><a href="<%= user_path(user) %>"><%= user.name %></a></h4>
            <p><strong><%= user.job_title %></strong></p>
          </div>

          <div class="col-lg-2">
            <img src="<%= user.avatar_url %>" class="img-avatar pull-left" style="width: 40px;">
          </div>

          <div class="col-lg-12">
            <p><%= user.default_biography.content if user.default_biography %></p>
          </div>

        </div>
        <div class="card-footer">
          <%= link_to team_team_member_path(@team, user), method: :delete,
                      title: "Remove",
                      data: {
                          confirm: {
                              question: "Are you sure you want to remove this user ?",
                              title: "Remove user"
                          }
                      },
                      class: "btn btn-danger btn-xs" do %>
              <%= icon(:remove, :fa) %> Remove user
          <% end %>
        </div>
    </div>
    <% end %>

    <div class="card">
      <div class="card-block bg-light">
        <%= paginate @members, class: 'no-margin', window: 1 %>
        <%= page_entries_info @members, entry_name: 'member' %>
      </div>
    </div>
  </div>
</div>