<%= form_for @form, html: { class: 'form-horizontal' },
             data: {
                 modal: { render_type: :replace },
                 js: { render_class: "EvMan.Views.Forms.Edit" },
             } do |f| %>
  <div class="modal-header">
    <h4 class="modal-title">Form</h4>
  </div>

  <div class="modal-body">
    <%= validation_errors(@form) %>

    <div class="form-group row">
      <%= f.label :name, 'Name', class: 'col-form-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :description, 'Description', class: 'col-form-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <%= content_tag :div, class: 'form-builder vue-component', data: { builder: @form.data } do %>
      <form-builder :fields_data="fields" name="form[data]"></form-builder>
    <% end %>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default modal-close">Close</button>
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>

  <%= render 'form_builder_template' %>
  <%= render 'form_builder_field_template' %>
<% end %>