<%= render 'layouts/application' do %>
  <header class="navbar">
    <div class="container-fluid">
      <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>

      <!--<a class="navbar-brand" href="#">EvMan</a>-->

      <ul class="nav navbar-nav pull-right">

        <li class="nav-item">
          <a class="nav-link" href="<%= user_path(current_user) %>">
            <i class="fa fa-user"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
            <i class="fa fa-group"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <% current_user.teams.each do |team| %>
              <% if team == current_team %>
                  <div class="dropdown-item">
                    <strong><i class="fa fa-group"></i>&nbsp;&nbsp;<%= team.name %></strong>
                  </div>
              <% else %>
                  <a href="<%= dashboard_url(:subdomain => team.subdomain) %>" class="dropdown-item">
                    <i class="fa fa-group"></i>&nbsp;&nbsp;<%= team.name %>
                  </a>
              <% end %>
            <% end %>
            <%= link_to "Create new team", new_team_path, data: { modal: true }, class: 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item">
          <a href="<%= signout_path %>" class="nav-link">
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <div class="sidebar">

    <div class="profile">
      <img src="<%= current_user.avatar_url(76) %>" class="img-circle">

      <div class="user">
        <div class="name"><%= current_user.name %></div>
        <% if @current_team %>
            <div>
              <span class="team"><%= current_team.name %></span>
            </div>
        <% end %>
      </div>
    </div>

    <nav class="sidebar-nav">
      <%= render main_menu %>
    </nav>
  </div>

  <main class="main">
    <%= render 'application/breadcrumb_nav' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </main>
<% end %>