<% breadcrumb_nav.add_item "Talks" %>

<style type="text/css">
    #search_for_talk_results {
        margin-top: 15px;
    }
</style>

<%= content_tag :div, class: "row", data: { js: { render_class: "EvMan.Views.Talks.Index" }} do %>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        My talks
                    </div>
                      <ul class="list-group list-group-flush">
                          <% @my.each do |talk| %>
                              <li class="list-group-item">
                                  <div class="hideOverflow">
                                      <span class="hideOverflow"><a href="<%= talk_path(talk) %>"><%= talk.name %></a></span>
                                  </div>
                              </li>
                          <% end %>
                      </ul>
                </div>
            </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                Most recent talks
              </div>
              <ul class="list-group list-group-flush">
                <% @recent.each do |talk| %>
                    <li class="list-group-item">
                      <div class="hideOverflow">
                        <span class="hideOverflow"><a href="<%= talk_path(talk) %>"><%= talk.name %></a></span>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                Search talks by name
            </div>
            <div class="card-block">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="search_for_talk">
              </div>
            </div>
            <div id="search_for_talk_results"></div>
        </div>
    </div>

<% end %>
