<%
  breadcrumb_nav.add_item "Talks", talks_path
  breadcrumb_nav.add_item @talk.name
%>

<%= content_tag :div, class: "row", data: { js: { render_class: "EvMan.Views.Talks.Show" }} do %>
    <div class="col-lg-6">

        <div class="card">

            <div class="card-header">
                <div>
                    <%= @talk.name %>
                    <div class="pull-right">
                      <%= link_to edit_talk_path(@talk), data: {modal: true }, class: 'btn btn-warning btn-sm' do %>
                          <%= icon(:edit, :fa) %> Edit talk
                      <% end %>
                      <%= link_to @talk, method: :delete,
                                  data:         {
                                      confirm: {
                                          title:    "Delete talk",
                                          question: "Are you sure you want to delete this talk ?"
                                      }
                                  },
                                  class:        "btn btn-danger btn-sm" do %>
                          <%= icon(:remoev, :fa) %> Delete talk
                      <% end %>
                    </div>
                </div>
            </div>

            <div class="card-block">

                <dl class="dl-horizontal">
                    <dt>Owner</dt>
                    <dd><a href="<%= user_path(@talk.user) %>"><%= @talk.user.name %></a> </dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Event Type</dt>
                    <dd><%= @talk.event_type.name %></dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Abstract</dt>
                    <dd><%= markdown(@talk.abstract) %></dd>
                </dl>

            </div>
        </div>

    </div>

    <div class="col-lg-6">

        <div class="card">
            <div class="card-header">
                Events
                <div class="pull-right">
                  <%= link_to new_event_talk_path(talk_id: @talk.id), data: {modal: true }, class: 'btn btn-success btn-sm' do %>
                      <%= icon(:plus, :fa) %> Add talk
                  <% end %>
                </div>
            </div>
            <div class="card-block no-padding">
                <ul class="list-group">
                    <% @talk.event_talks.each do |talk| %>
                        <li class="list-group-item" id="talk<%= talk.id %>">
                            <div class="row" style="padding-bottom: 5px;">
                                <div class="col-lg-1" style="text-align: right;">
                                    <div class="dropdown">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  class="btn btn-outline-secondary btn-sm">
                                          <i class="fa fa-caret-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li>
                                              <%= link_to edit_event_talk_path(talk), data: {modal: true }, class: 'dropdown-item' do %>
                                                <%= icon(:edit, :fa) %> Edit talk
                                              <% end %>
                                            </li>
                                            <li>
                                              <%= link_to talk,
                                                          method: :delete,
                                                          data: {
                                                              confirm: {
                                                                  title: "Remove talk",
                                                                  question: "Are you sure you want to remove this talk?"
                                                              }
                                                          },
                                                          class: 'dropdown-item' do %>
                                                <%= icon(:remove, :fa) %> &nbsp; Remove talk
                                              <% end %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6" style="font-weight: bold;">
                                    <div class="hideOverflow">
                                      <% if talk.event %>
                                        <a href="<%= event_path(talk.event) %>"><%= talk.event.name %></a>
                                      <% end %>
                                    </div>
                                </div>

                                <div class="col-lg-2" style="font-weight: bold;">
                                  <% if talk.description.present? %>
                                    <span class="tag tag-default" title="Contains description" data-toggle="tooltip">
                                      <i class="fa fa-comment"></i>
                                    </span>
                                  <% end %>
                                    <div class="pull-right">
                                        <% if talk.state == nil %><span class="label label-warning">Undecided</span><% end %>
                                        <% if talk.state == true %><span class="label label-success">Accepted</span><% end %>
                                        <% if talk.state == false %><span class="label label-danger">Rejected</span><% end %>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <a href="<%= user_path(talk.user) %>"><%= talk.user.name %></a>
                                </div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
      <div class="card">
        <div class="card-header">
          Tags
          <%= link_to edit_tags_path(:talk, @talk.id),
                      data: { modal: true },
                      class: 'btn btn-warning btn-sm pull-right' do %>
              <%= icon(:edit, :fa) %> Edit
          <% end %>
        </div>
        <div class="card-block">
          <% @talk.tags.each do |tag| %>
              <span class="tag tag-default"><%= tag.name %></span>
          <% end %>
        </div>
      </div>
    </div>
<% end %>