<% current_team.event_properties.order(position: :asc).each do |event_property| %>
  <div class="form-group row">
    <label class="col-form-label col-lg-2"><%= event_property.name %></label>
    <div class="col-lg-10">
      <% case event_property.behaviour %>
      <% when 'multiple_choice' then %>
        <%= form.fields_for :properties_assignments, OpenStruct.new(@event.properties_assignments) do |pf| %>
            <%= pf.collection_select event_property.id, event_property.options, :id, :name,  { prompt: false }, multiple: true %>
        <% end %>
      <% when 'select' then %>
          <%= form.fields_for :properties_assignments, OpenStruct.new(@event.properties_assignments) do |pf| %>
              <%= pf.collection_select event_property.id, event_property.options, :id, :name,  { prompt: false }, multiple: false %>
          <% end %>
      <% when 'text' then %>
          <%= form.fields_for :properties_assignments, OpenStruct.new(@event.properties_assignments) do |pf| %>
              <%= pf.text_field event_property.id, class: 'form-control' %>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>