<tr>
  <td><%= link_to event.name, event %></td>
  <td nowrap>
    <%= l event.begins_at if event.begins_at %>
    <% if event.ends_at %>
      - <%= l event.ends_at %>
    <% end %>
  </td>
  <td><%= event.full_location %></td>
  <td nowrap><%= event.event_type.name %></td>
</tr>