<%= form_for(@event,
             html: { class: 'form-horizontal' },
             data: {
                 js: { render_class: "EvMan.Views.Events.Edit" },
                 modal: { render_type: :replace }
             }) do |form| %>

    <div class="modal-header">
      <h3><%= @event.new_record? ? 'New' : 'Edit' %> event</h3>
    </div>

    <div class="modal-body">

      <%= validation_errors(@event) %>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Name</label>
        <div class="col-lg-10">
          <%= form.text_field(:name, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Description</label>
        <div class="col-lg-10">
          <%= form.text_area(:description, :class => 'form-control', :size => '150x3') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Type</label>
        <div class="col-lg-10">
          <%= form.collection_select :event_type_id, form.object.assignable_event_types, :id, :name %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">City</label>
        <div class="col-lg-10">
          <%= form.collection_select :city_id, City.where(id: @event.city_id), :id, :name %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Location</label>
        <div class="col-lg-10">
          <%= form.text_field(:location, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">URL 1</label>
        <div class="col-lg-10">
          <%= form.text_field(:url, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">URL 2</label>
        <div class="col-lg-10">
          <%= form.text_field(:url2, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">URL 3</label>
        <div class="col-lg-10">
          <%= form.text_field(:url3, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Sponsorship</label>
        <div class="col-lg-10">
          <%= form.text_field(:sponsorship, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Sponsorship deadline</label>
        <div class="col-lg-10">
          <%= form.text_field(:sponsorship_date, :class => 'form-control date') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">CFP URL</label>
        <div class="col-lg-10">
          <%= form.text_field(:cfp_url, :class => 'form-control') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">CFP deadline</label>
        <div class="col-lg-10">
          <%= form.text_field(:cfp_date, :class => 'form-control date') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Begins</label>
        <div class="col-lg-4">
          <%= form.text_field(:begins_at, :class => 'form-control date') %>
        </div>

        <label class="col-form-label col-lg-2">Ends</label>
        <div class="col-lg-4">
          <%= form.text_field(:ends_at, :class => 'form-control date') %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Owner</label>
        <div class="col-lg-10">
          <%= form.collection_select :owner_id, form.object.assignable_owners, :id, :name %>
        </div>
      </div>

      <%= render partial: 'event_properties_form', locals: { form: form } %>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default modal-close">Close</button>
      <%= form.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>