<div class="card event-talks-container">
  <div class="card-header">
    Talks
    <div class="pull-right">
      <%= link_to new_event_talk_path(event_id: @event.id), data: { modal: true }, class: 'btn btn-info btn-sm new-event-talk-button' do %>
          <%= icon(:plus, :fa) %> Talk
      <% end %>
    </div>
  </div>
  <div>
  <ul class="list-group list-group-flush">
    <% @event.event_talks.includes(:user, :talk).each do |talk| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-1 col-3">
              <div class="btn btn-outline-secondary btn-sm" data-toggle="dropdown">
                <i class="fa fa-caret-down"></i>
              </div>
              <div class="dropdown-menu">
                <%= link_to edit_event_talk_path(talk), data: {modal: true}, class: 'dropdown-item' do %>
                    <%= icon(:edit, :fa) %> Edit
                <% end %>
                <%= link_to talk, method: :delete,
                            title: 'Remove',
                            data: {
                                confirm: {
                                    question: 'Are you sure you want to remove this talk from this event?',
                                    title: 'Remove talk from event'
                                }
                            },
                            class: 'dropdown-item' do %>
                    <%= icon(:remove, :fa) %> Remove
                <% end %>
              </div>
            </div>
            <div class="col-md-2 col-9">
              <img src="<%= talk.user.avatar_url %>" class="img-avatar" style="width: 20px; height: 20px;" title="<%= talk.user.name %>" data-toggle="tooltip">
            </div>
            <div class="col-md-8 col-8 event-talk-name">
              <% if talk.user == current_user %>
                  <strong><%= link_to talk.talk.name, event_talk_path(talk), data: { modal: true } %></strong>
              <% else %>
                <%= link_to talk.talk.name, event_talk_path(talk), data: { modal: true } %>
              <% end %>
            </div>
            <div class="col-md-1 col-4 event-talk-icon">
              <div class="pull-right d-flex">
                <% if talk.description.present? %>
                  <span class="tag tag-default" title="Contains description" data-toggle="tooltip">
                    <i class="fa fa-comment"></i>
                  </span>
                <% end %>

                <% if talk.state == nil %>
                    <span class="tag tag-default">
                      <i class="fa fa-question"></i>
                    </span>
                <% end %>
                <% if talk.state == true %>
                    <span class="tag tag-success">
                      <i class="fa fa-check"></i>
                    </span>
                <% end %>
                <% if talk.state == false %>
                    <span class="tag tag-danger">
                      <i class="fa fa-remove"></i>
                    </span>
                <% end %>
              </div>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
  </div>
</div>