<li class="list-group-item">
  <div class="row">

    <div class="col-sm-1">
      <div class="dropdown">
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-outline-secondary btn-sm">
          <i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li>
            <%= link_to edit_warehouse_transaction_path(warehouse_transaction), data: { modal: true },
                        class: 'dropdown-item' do %>
                <%= icon(:edit, :fa) %> Edit
            <% end %>
          </li>
          <li>
            <%= link_to warehouse_transaction, method: :delete,
                        title: "Remove",
                        data: {
                            confirm: {
                                question: "Are you sure you want to remove this transaction ?",
                                title: "Remove transaction"
                            }
                        },
                        class: 'dropdown-item' do %>
                <%= icon(:remove, :fa) %> Remove
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="hideOverflow">
        <%= link_to warehouse_transaction.item.name, warehouse_transaction.batch, class: 'blue-link', target: :_blank %>
      </div>
    </div>

    <div class="col-sm-2" align="right">
      <%= -warehouse_transaction.count %>
    </div>

    <div class="col-sm-2" align="right">
      <%= warehouse_transaction.returned %>
    </div>

    <div class="col-sm-2" align="right">
      <b><%= number_to_currency warehouse_transaction.price %></b>
    </div>
  </div>
</li>