<%
  breadcrumb_nav.add_item 'Events', events_path
  breadcrumb_nav.add_item 'Export'
%>

<% if @exporter.errors.any? %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card-deck">
        <div class="card">
          <div class="card-header"><h4>Errors</h4></div>
          <div class="card-block">
            <%= validation_errors(@exporter) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @exporter, url: export_events_path, method: :post,
             data: { js: { render_class: 'EvMan.Views.Events.Export' }} do |f| %>
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        Fields to export
      </div>

      <div class="card-block">
        <ul>
          <% @exporter.available_fields.each do |field| %>
            <div class="form-check">
              <label class="form-check-label">
                <%= check_box_tag 'exporter[fields][]', field.name, @exporter.fields.include?(field.name) %>
                <%= field.label %>
              </label>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-7">
      <%= render @filterer, locals: { ui_options: { show_submit: false } }  %>
  </div>
  
  <div class="col-lg-2">
    <div class="card">
      <div class="card-header">Export Type</div>
      <div class="card-block">
        <% @exporter.available_export_types.each do |export_type| %>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.radio_button :export_type, export_type %>
              &nbsp;
              <%= export_type.upcase %>
            </label>
          </div>
        <% end %>

        <%= f.submit "Export Events", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
<% end %>