<%
  breadcrumb_nav.add_item "Events"
%>

<div class="row">
  <div class="col-lg-12">
    <%= form_tag list_events_path, method: :get do %>
      <%= render @filterer %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-block no-padding table-responsive">
        <table class="table table-hover">
          <tr>
            <th>Name</th>
            <th>Dates</th>
            <th>Location</th>
            <th>Type</th>
          </tr>

          <tbody>
            <%= render @events %>
          </tbody>

        </table>
      </div>
      <div class="card-footer d-flex flex-content-space-between flex-items-center no-padding">
        <%= paginate @events, class: 'no-margin' %>
        <div>
          Showing <%= @events.size %> out of <%= @events.total_count %> events
        </div>
      </div>
    </div>
  </div>
</div>

