<%
  breadcrumb_nav.add_item "Events", events_path
  breadcrumb_nav.add_item @event.name
%>

<% content_for :breadcrumb_menu do %>
    <div class="btn-group" role="group">
      <%= link_to add_attendee_event_path(@event), data: { modal: true }, class: 'btn text-success add-attendee-button' do %>
          <%= icon(:plus, :fa) %> attendee
      <% end %>

      <%= link_to edit_event_path(@event), class: 'btn btn-link text-warning edit-event-button' do %>
          <%= icon(:edit, :fa) %> Edit
      <% end %>

      <% if @event.archived %>
          <%= link_to @event, method: :delete,
                      title: 'Delete event',
                      data:           {
                          confirm: {
                              question: 'Are you sure you want to delete this event ?',
                              title: 'Delete event'
                          }
                      },
                      class: 'btn text-danger destroy-event-button' do %>
              <%= icon(:remove, :fa) %> Delete
          <% end %>
      <% else %>
          <%= link_to @event, method: :delete,
                      title: 'Archive event',
                      data:           {
                          confirm: {
                              question: 'Are you sure you want to archive this event ?',
                              title: 'Archive event'
                          }
                      },
                      class: 'btn text-danger archive-event-button' do %>
              <%= icon(:remove, :fa) %> Archive
          <% end %>
      <% end %>
    </div>
<% end %>

<style type="text/css">
  #map {
    height: 300px;
    width: 100%;
    border-radius: 25px;
  }

  .map-modal {
    display: none;
  }
</style>

<%
  data_js = {
      render_class: 'EvMan.Views.Events.Show',
      render_options: {
          event_full_location: @event.full_location
      }
  }.to_json
%>

<div class="container-fluid" data-js="<%= data_js %>">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <%= render partial: 'tabs' %>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-lg-12 event-panels">
              <h4><%= @event.name %></h4>

              <div class="attendee-list pull-right">
                <% @event.attendees.includes(:user, :attendee_type).each do |attendee| %>
                    <div class="btn-group">
                      <div class="btn" data-toggle="dropdown">
                        <img src="<%= attendee.user.avatar_url %>" class="img-avatar" alt="<%= attendee.user.name %>"  title="<%= attendee.user.name %> (<%= attendee.attendee_type.name %>)" data-toggle="tooltip">
                      </div>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="<%= user_path(attendee.user) %>" class="dropdown-item">
                          <%= icon(:user, :fa) %>
                          <%= attendee.user.name %>
                          (<%= attendee.attendee_type.name %>)
                        </a>

                        <%= link_to attendee, method: :delete,
                                    title: 'Remove attendee',
                                    data: {
                                        confirm: {
                                            question: 'Are you sure you want to remove this attendee ?',
                                            title: 'Remove attendee'
                                        }
                                    },
                                    class: 'dropdown-item' do %>
                            <%= icon(:remove, :fa) %> Remove attendee
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </div>

              <div class="btn-group event-flags">
                <% if @event.approved %>
                    <a href="<%= approved_event_path(@event) %>" class="btn btn-success">
                      <i class="fa fa-check"></i> Approved
                    </a>
                <% else %>
                    <a href="<%= approved_event_path(@event) %>" class="btn btn-outline-secondary">
                      <i class="fa fa-remove"></i> Approved
                    </a>
                <% end %>

                <% if @event.committed %>
                    <a href="<%= committed_event_path(@event) %>" class="btn btn-success">
                      <i class="fa fa-check"></i> Committed
                    </a>
                <% else %>
                    <a href="<%= committed_event_path(@event) %>" class="btn btn-outline-secondary">
                      <i class="fa fa-remove"></i> Committed
                    </a>
                <% end %>

                <% if @event.archived %>
                    <a href="<%= archived_event_path(@event) %>" class="btn btn-warning">
                      <i class="fa fa-check"></i> Archived
                    </a>
                <% end %>
              </div>

              <div class="btn-group">
                <% if  @event.cfp_date && @event.cfp_date >= DateTime.now %>
                    <% if @event.cfp_url.empty? %>
                        <div class="btn btn-info">
                          <i class="fa fa-calendar"></i> CFP by <%= l @event.cfp_date, format: :short %>
                        </div>
                    <% else %>
                        <a href="<%= @event.cfp_url %>" target="_blank" class="btn btn-info">
                          <i class="fa fa-external-link"></i>
                          CFP by <%= l @event.cfp_date, format: :short %>
                        </a>
                    <% end %>
                <% end %>
              </div>

              <div class="row">
                <div class="col col-auto">
                    <small class="text-muted">Dates</small><br>
                    <strong class="p">
                      <i class="fa fa-calendar"></i>
                      <%= l @event.begins_at, format: :short if @event.begins_at %> - <%= l @event.ends_at, format: :short if @event.ends_at %>
                    </strong>
                </div>

                <% if @event.event_type %>
                  <div class="col col-auto">
                      <small class="text-muted">Event Type</small><br>
                      <strong class="p">
                        <%= @event.event_type.name %>
                      </strong>
                  </div>
                <% end %>

                <div class="col col-auto cursor-pointer map-trigger">
                    <small class="text-muted">City</small><br>
                    <strong class="p">
                      <i class="fa fa-map-marker"></i> <%= @event.full_location %>
                    </strong>
                </div>

                <%= render partial: 'event_properties_show', locals: { event: @event } %>
              </div>

              <% @event.urls.each_with_index do |url, index| %>
                  <div class="row">
                    <div class="col col-auto">
                      <small class="text-muted">Url <%= index+1 %></small><br>
                      <strong class="p">
                        <%= link_to url, target: '_blank' do %>
                            <%= url %> <%= icon(:'external-link', :fa) %>
                        <% end %>
                      </strong>
                    </div>
                  </div>
              <% end %>



              <div class="row">
                <div class="col col-auto">
                  <small class="text-muted">Description</small><br>
                  <p style="white-space: pre-wrap;"><%= markdown(@event.description) %></p>
                </div>
              </div>

              <div class="row">
                <div class="col col-auto">
                  <small class="text-muted">Last Edited</small><br>
                  <% if @event.versions.last %>
                    <% actor = @event.versions.last.actor %>
                    <% if actor %>
                      <strong class="p"><%= link_to actor.name, actor %></strong> at
                    <% end %>
                    <strong class="p"><%= l @event.versions.last.created_at, format: :long %></strong>
                  <% else %>
                      <strong class="p"><%= l @event.updated_at, format: :long %></strong>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <%= render 'talks' %>
    </div>
    <div class="col-xl-6">
      <%= render 'notes' %>
    </div>

    <% if @event.team.event_feedback_form %>
      <div class="col-xl-12">
        <%= render 'feedback' %>
      </div>
    <% end %>

    <div class="col-lg-12">
      <%= render 'contacts' %>
    </div>

    <div class="col-lg-12">
      <%= render 'performance_metric_entries' %>
    </div>
  </div>
</div>

<div class="modal fade map-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Event location</h4>
      </div>
      <div class="modal-body">
        <div id="map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>