<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading ">
                SWAG items
            </div>
            <table class="table table-striped">
                <tbody>
                    <% @items.each do |item| %>
                        <tr>
                            <td><%= item.name %></td>
                            <td>$<%= item.price %></td>
                            <td>
                              <%= link_to item, method: :delete,
                                          title: "Remove",
                                          data: {
                                              confirm: {
                                                  question: "Are you sure you want to remove this SWAG item ?",
                                                  title: "Remove SWAG item"
                                              }
                                          },
                                          class: "btn btn-danger btn-xs" do %>
                                  <%= icon(:remove, :fa) %> Remove
                              <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <%= form_for @item, :html => { :class => 'form form-horizontal'} do |form| %>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    Create new SWAG item
                </div>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Name</label>
                        <div class="col-lg-10">
                            <%= form.text_field(:name, :class => 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Price</label>
                        <div class="col-lg-10">
                            <%= form.text_field(:price, :class => 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success btn-sm pull-right">Create SWAG item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
