<%= form_for @role, data: { modal: { render_type: :replace } } do |f| %>
    <div class="modal-header">
      <h4 class="modal-title">Roles</h4>
    </div>

    <div class="modal-body">

      <%= validation_errors(@role) %>

      <div class="container-fluid">
        <div class="form-group row">
          <%= f.label :name, 'Name', class: 'col-form-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <%= f.label :authorization_profile, 'Permissions' %>

        <%= f.fields_for :authorization_profile, @role.authorization_profile do |psf| %>
            <% @role.authorization_profile.groups.each do |group| %>
                <%= psf.fields_for group.name, group do |gf| %>
                    <%= render partial: 'permission_group', locals: { group: group, form: gf } %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default modal-close">Close</button>
      <%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>