<div class="card">
  <div class="card-header">
    Event types

    <div class="pull-right">
      <%= link_to new_event_type_path(current_team),
                  data: { modal: true }, class: 'btn btn-success btn-sm' do %>
          <%= icon(:plus, :fa) %> New
      <% end %>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <% team.event_types.order(default: :desc, name: :asc).each do |type| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-8">
              <%= type.name %>
              <div class="pull-right">
                <%= color_field_tag(:color, type.color, disabled: true) %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="pull-right">
                <div class="btn-group">
                  <%= link_to icon(:check, :fa), event_type_default_path(type),
                              method: :post,
                              title: 'Set as default',
                              class: 'btn btn-info btn-sm' unless type.default %>
                  <%= link_to icon(:edit, :fa), edit_event_type_path(type),
                              title: 'Edit',
                              data: {
                                  modal: true
                              },
                              class: 'btn btn-warning btn-sm' %>
                  <%= link_to icon(:remove, :fa), type, method: :delete,
                              title: 'Remove',
                              data: {
                                  confirm: {
                                      question: 'Are you sure you want to remove this event type?',
                                      title: 'Remove event type'
                                  }
                              },
                              class: 'btn btn-danger btn-sm' unless type.default %>
                </div>
              </div>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>