<%= form_for @item, data: { modal: { render_type: :replace } } do |f| %>
    <%= f.hidden_field :warehouse_id %>
    <div class="modal-header">
      <h4 class="modal-title">Item</h4>
    </div>

    <div class="modal-body">

      <%= validation_errors(@item) %>

      <div class="form-group row">
        <%= f.label :name, "Name", class: "col-form-label col-lg-2" %>
        <div class=" col-lg-10">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default modal-close">Close</button>
      <%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>